<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD> 
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>飲み会企画 内容確認</TITLE>
<link rel="stylesheet" type="text/css" href="css/container.css" />
<link rel="stylesheet" type="text/css" href="css/rolloverlink.css" />
<link rel="stylesheet" type="text/css" href="css/optionbutton.css" />
<link rel="stylesheet" type="text/css" href="css/credit.css" />
<style type="text/css">
<!--

html * {
  margin: 0px;
  padding: 0px;
  font-family: meiryo, arial, "MS Gothic", "Gothic";
}/* end-of body */

div.page_title {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 18px;
}/* end-of div.page_title */

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}/* end-of div.page_title img */

div.container {
  top: 65px;
  left: 30px;
  width: 400px;
}/* end-of div.container */

#shop_name {
  width: 100%;
  border: none;
}/* end-of shop_name */

#box_shop .body table {
  font-size: 13px;
  width: 100%;
}/* end-of box_shop .body table */

#box_shop .body .shop_info {
  font-size: 13px;
}/* end-of box_shop .body .shop_info */

#box_shop .body #shop_detail_area {
  margin-top: 5px;
}/* end-of box_shop .body #shop_detail_area */

#box_shop .body .image_float_left {
  text-align: center;
  width: 58px;
  float: left;
}/* end-of box_shop .body .image_float_left */

#box_shop .body .image_float_right {
  width: 300px;
  float: right;
}/* end-of box_shop .body .image_float_right */

#box_shop .body img {
  border-style: none;
  vertical-align: bottom;
}/* end-of box_shop .body img */

#box_shop .shop_button {
  text-align: center;
  margin-top: 5px;
}/* end-of box_shop .shop_button */

#box_member table {
  width: 100%;
}/* end-of box_member table */

#box_member td {
  border-top: 2px dotted #999999;
  padding: 5px 5px;
}/* end-of box_member td */

#box_member tr:first-child td {
  border-top: 0px;
  padding-top: 0px;
}/* end-of box_member tr:first-child td */

#textarea_info {
  width:100%;
  height: 200px;
  border: 0px;
}

#box_message {
  width: 100%;
  border: 0px;
  display: table;
}

#box_message .body {
  border: 5px double #FF9900;
  vertical-align: middle;
  color: #FF0000;
  background-color: #FFFF99;
  font-weight: bold;
  display: table-cell;
}/* end-of box_message .body */

#box_submit {
  border: 0px;
  text-align: center;
}

.rollover_link {
  height: 21px;
  width: 81px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  padding: 6px 0px 0px 0px;
  margin: 0px 5px 0px 10px;
  color: #4d4d4d;
  display: inline-block;
}/* end-of .rollover_link */


#link_back {
  background-image: url("image/button_red.png");
}/* end-of link_back */

-->
</style>
</HEAD>
<BODY>

<!-- タイトル -->
<div class="page_title">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
      <td><img src="image/beer.png" /></td>
      <td>飲み会企画 内容確認</td>
    </tr>
  </table>
</div><!-- end-of .page_title -->

<div class="container">

  <!-- 飲み会名BOX -->
  <div class="box" id="box_party_name">
    <div class="title">名称</div>
    <div class="body">
      【IT研】とりあえず飲もう！会
    </div>
  </div><!-- end-of #box_party_name -->

  <!-- 開催状況BOX -->
  <div class="box" id="box_status">
    <div class="title">開催状況</div>
    <div class="body">
      開催
    </div>
  </div><!-- end-of #box_status -->

  <!-- 日程BOX -->
  <div class="box" id="box_date">
    <div class="title">日程</div>
    <div class="body">
      2011年 2月 16日 19時 0分
    </div>
  </div><!-- end-of #box_date -->

  <!-- お店BOX -->
  <div class="box" id="box_shop">
    <div class="title">お店</div>
    <div class="body">
      <div class="shop_info">
        <div id="shop_info_name">どこかのお店　あああああああああああああああああああああああああああ</div>
        <div id="shop_detail_area">
          <div class="image_float_left">
            <a href="#"><img src="image/P010229699_58_s.jpg" id="shop_image_s" /></a><br />
            <a href="#">お店紹介</a>
          </div>
          <div class="image_float_right">
            <div class="sub_title">住所</div>
            <div id="shop_info_address">広島県広島市○○区△△町１２-３４ □□ビル５Ｆ　あああああああああああああああああああああああああああああああああああ</div>
            <div class="sub_title">電話番号</div>
            <div id="shop_info_tel">086-123-4567</div>
          </div>
          <br style="clear: both; font-size: 0px;" />
          <div class="image_credit">【画像提供：ホットペッパー　FooMoo】</div>
        </div>
      </div>
    </div>
  </div><!-- end-of #box_shop -->

  <!-- 予算BOX -->
  <div class="box" id="box_budget">
    <div class="title">予算</div>
    <div class="body">
      3,500円　飲み放題込
    </div>
  </div><!-- end-of #box_budget -->

  <!-- メンバーBOX -->
  <div class="box" id="box_member">
    <div class="title">メンバー</div>
    <div class="body">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr><td>ユーザＡ</td></tr>
        <tr><td>ユーザＢ</td></tr>
        <tr><td>ユーザＣ</td></tr>
      </table>
    </div>
  </div><!-- end-of #box_member -->

  <!-- 案内メールBOX -->
  <div class="box" id="box_info">
    <div class="title">案内メール</div>
    <div class="body">
      <pre>飲み会を開催します。
楽しい飲み会が待ってます！
都合が悪くても参加してください！？</pre>
    </div>
  </div><!-- end-of #box_info -->

  <!-- メッセージ欄 -->
  <div class="box" id="box_message">
    <div class="body">※「登録」ボタンをクリックすると、<br>　内容が保存されメンバーにメール配信されます</div>
  </div><!-- end-of #box_message -->

  <!-- 登録ボタンBOX -->
  <div class="box" id="box_submit">
    <a class="rollover_link" id="link_back" href="create_party_plan.html">戻る</a>
    <a class="rollover_link" id="link_save" href="registration_party_plan.html">登録</a>
  </div><!-- end-of #box_submit -->

  <div class="webservice_credit">
    <a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-m.gif" alt="ホットペッパー Webサービス" width="88" height="35" border="0" title="ホットペッパー Webサービス"></a>
  </div><!-- end-of .webservice_credit -->

</div><!-- end-of .container -->

</BODY>
</HTML>
