<style>
table#members{
  border: 2px solid #FFCCFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 300px;
  font-size: 15px;
}
table.detail tr:first-child td {
  border-top: 0px;
}/* end-of td.detail table tr:first-child td */

table.detail td {
  height: 35px;
  border-top: 2px dotted #999999;
}/* end-of td.detail table tr td */
detail {
  width: 100%;
  padding-right: 10px;
}/* end-of td.detail table */
</style>  

<h3><%= @party.party_name %></h3>

<div class="box" style="width:350px;">
  <div class="title" style="">参加メンバー</div><div class="body">
  <table class="detail" border="0" cellspacing="0" cellpadding="0">
    <% current_user_id = current_user.id %>
    <% @party.members.each do |member| %>
      <tr>
        <td style="width:100px; <%= 'text-decoration:underline' if member.user.id == current_user_id %>"><%= member.user.display_name %></td>
        <td style="width:250px;">
          <div style="text-align:center;">
            <%= image_tag(participates_image(@party.party_status, member.member_status),
                              :alt => participates_type(member.member_status),
                              :align => 'center', :border => 0, :size=>"55x55") %>
                <% if member.user.id == current_user_id %>
                <% end %>
              </div>
            </td>
          </tr>
    <% end %>
  </table>
</div>
</div>

