<style type="text/css">
<!--

html * {
  font-family: meiryo, arial, "MS Gothic", Gothic;
}

div.main {
  position: relative;
  top: 0px;
  left: 0px;
}

img {
  vertical-align: bottom;
}

div.page_title {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 18px;
}/* end-of div.page_title */

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}/* end-of div.page_title img */

.container > div {
  margin-top: 10px;
}

.container > div:first-child {
  margin-top: 0px;
}

#container_left {
  position: absolute;
  top: 80px;
  left: 30px;
}

#container_left .shop_image img {
  border: 1px solid #000000;
}

#container_left .shop_link {
  text-align: center;
}

#box_manager ul {
  margin-left: -20px;
}

#container_right {
  top: 80px;
  left: 300px;
  width: 400px;
}

.party_detail table {
  width: 100%;
}

.party_detail td {
  border-bottom: 2px dotted #999999;
  height: 35px;
}

.party_detail table tr:first-child td {
  border-top: 2px dotted #999999;
}

.item_title {
  width: 100px;
  text-align: center;
}

.participation_link {
  text-align: center;
}

#box_message {
  height: 30px;
  width: 100%;
  border: 0px;
  display: table;
  text-align: center;
}

#box_message .body {
  border: 5px double #FF9900;
  text-align: center;
  vertical-align: middle;
  color: #FF0000;
  background-color: #FFFF99;
  font-weight: bold;
  display: table-cell;
}/* end-of box_message .body */

-->
</style>

<div class="main">

<!-- タイトル -->
<div class="page_title">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
      <td><img src="/images/beer.png" /></td>
      <td>【IT研】とりあえず飲もう！会</td>
    </tr>
  </table>
</div><!-- end-of .page_title -->

<div class="container" id="container_left">

  <!-- お店画像 -->
  <div class="shop_image">
    <%= image_tag "P010229699_238.jpg" %>
    <%= recruit_credit_tag %>
  </div><!-- end-of .shop_image -->

  <!-- 詳細ページリンク -->
  <div class="shop_link">
    <a href="#">お店詳細ページ(Hotpepper)</a>
  </div><!-- end-of .shop_link -->

  <!-- ルート検索リンク -->
  <div class="shop_link">
    <a href="#">ルート検索</a>
  </div><!-- end-of .shop_link -->

  <!-- 幹事メニュー -->
  <div class="box" id="box_manager">
    <div class="title">幹事メニュー</div>
    <div class="body">
      <ul>
        <li><a href="create_party_plan.html">飲み会情報修正</a></li>
         日付の変更・中止など
        <li><a href="completed_party.html">飲み会完了</a></li>
         飲み会が完了した場合は<br />完了登録してください
      </ul>
    </div>
  </div><!-- end-of #box_manager -->

</div><!-- end-of #conteiner_left -->

<div class="container" id="container_right">

  <!-- 飲み会詳細 -->
  <div class="party_detail">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td class="item_title">幹事</td>
        <td class="item_data">ユーザＡ</td>
      </tr>
      <tr>
        <td class="item_title">日時</td>
        <td class="item_data">2011年 2月 16日 19時 0分</td>
      </tr>
      <tr>
        <td class="item_title">場所</td>
        <td class="item_data">創作お好み　ＵＦＯＵＦＯ</td>
      </tr>
      <tr>
        <td class="item_title">住所</td>
        <td class="item_data">広島市○○区△△町1234-5</td>
      </tr>
      <tr>
        <td class="item_title">予算</td>
        <td class="item_data">3,500円 （飲み放題込）</td>
      </tr>
      <tr>
        <td class="item_title">参加状況</td>
        <td class="item_data">参加 （4人中 3人参加 1人未回答）</td>
      </tr>
      <tr>
        <td class="item_title">ご案内</td>
        <td class="item_data"><pre>飲み会を開催します。
楽しい飲み会が待ってます！
都合が悪くても参加してください！？</pre>
        </td>
      </tr>
    </table>
  </div><!-- end-of .party_detail -->

  <!-- 参加不参加回答ページリンク -->
  <div class="participation_link">
    <a href="#">参加・不参加を回答する</a>
  </div><!-- end-of .participation_link -->

  <!-- メッセージ欄 -->
  <div class="box" id="box_message">
    <div class="body">この飲み会は完了しました</div>
  </div><!-- end-of #box_message -->

  <div class="webservice_credit">
    <a href="http://webservice.recruit.co.jp/"><img src="http://webservice.recruit.co.jp/banner/hotpepper-m.gif" alt="ホットペッパー Webサービス" width="88" height="35" border="0" title="ホットペッパー Webサービス"></a>
  </div><!-- end-of .webservice_credit -->

</div><!-- end-of #container_right -->

</div><!-- end-of main -->
