<style type="text/css">
<!--

html * {
  font-family: meiryo, arial, "MS Gothic", "Gothic";
}

div.main {
  position: relative;
  top: 0px;
  left: 0px;
}

div.page_title {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 18px;
}

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}

div.page_body {
  position: absolute;
  top: 80px;
  left: 30px;
}

-->
</style>

<div class="main">

<!-- タイトル -->
<div class="page_title">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr valign="bottom">
      <td><img src="/images/beer.png" /></td>
      <td>飲み会企画 登録完了</td>
    </tr>
  </table>
</div><!-- end-of .page_title -->

<!-- 登録完了メッセージ -->
<div class="page_body">
  飲み会の登録が完了しました。<br />
  メンバーへのメール配信が完了しました。<br />
  <br />
  <%= link_to '飲み会情報へ', {:action => :party_detail, :id => @party.id} %>
</div><!-- end-of .page_body -->

</div><!-- end-of .main -->
