@charset "UTF-8";

body {
    text-align: center;
}


div#container {
    margin: auto;
    width: 950px;
    text-align: left;
}

div#header {
    height: 100px;
    border: 1px solid;
    padding-top: 6px;
    position: relative;
}

div#sidebar {
    float: left;
    width: 130px;
}

div#sidebar h2 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 110px;
    padding: 0;
}

div#content {
    margin-left: 135px;
    width: 500px;
}

/*
 * header
 */
div#header h1 {
    margin: 0.5em 32px;
    padding-top: 6px;
    font-weight: normal;
    font-size: 140%;
}

div#header #login_user  {
  position: absolute;
  right: 6px;
  top: 5px;
}

/* User Menu Dropdown*/
#user-menu {
	padding-right: 15px;
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down_50.png) no-repeat right;
	}
#user-menu:hover {
	background: url(/plugin_assets/community_engine/images/icons/bullet_arrow_down.png) no-repeat right;	
}

h2 {
    margin: 0.5em 16px;
    border-bottom: 2px solid;
    font-size: 105%;
}



