<style type="text/css">
<!--

html * {
  margin: 0px;
  padding: 0px;
  font-family: meiryo, arial, "MS Gothic", Gothic;
}

div.main {
  position: relative;
  top: 0px;
  left: 0px;
}

div.page_title {
/*  position: absolute; */
  top: 15px;
  left: 30px;
  font-size: 18px;
}/* end-of div.page_title */

div.page_title img {
  vertical-align: bottom;
  margin-right: 10px;
}/* end-of div.page_title img */

div.party_container {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 650px;
}/* end-of div.party_container */

div.party_select_tab {
  height: 36px;
  margin-left: 15px;
}/* end-of div.party_select_tab */

div.entrant_list {
  border: 2px solid #FF99CC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 10px;
}/* end-of div.party_list */

div.radio {
  margin-left: 25px;
}/* end-of div.radio */

div.radio label {
  position: relative;
  font-size: 18px;
  width: 200px;
  margin-left: -30px;
}/* end-of div.radio label */

div.radio input:checked + label {
  z-index: 99;
}/* end-of div.radio input:checked + label */

div.radio label.left {
  background-image: url("/images/tab.png");
  z-index: 3;
}/* end-of div.radio label.left */

div.radio label.middle {
  background-image: url("/images/tab.png");
  z-index: 2;
}/* end-of div.radio label.middle */

div.radio label.right {
  background-image: url("/images/tab.png");
  z-index: 1;
}/* end-of div.radio label.right */

div.entrant {
  width:95%;
  margin-top: 10px;
  border: 2px solid #FFCCFF;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}/* end-of div.party */

div.party:first-child {
  margin-top: 0px;
}/* end-of div.party:first-child */

div.party:last-child {
  margin-top: 0px;
}/* end-of div.party:last-child */

div.party:hover {
  border: 2px solid #FF99CC;
  background: url("/images/highlight.png") top left repeat-x;
  background-color: #FFCCFF;
}/* end-of div.party:hover */

td.shop_image {
  width: 168px;
  vertical-align: top;
}/* end-of td.shop_image */

td.shop_image img {
  border: 1px solid #000000;
  vertical-align: bottom;
}/* end-of td.shop_image img */

td.detail {
  width: 100%;
}/* end-of td.detail */

td.participation {
  width: 110px;
  text-align: center;
}/* end-of td.participation */

td.participation img {
  vertical-align: bottom;
}/* end-of td.participation img */

td.party_name {
  height: 35px;
}/* end-of td.party_name */

detail {
  width: 100%;
  padding-right: 10px;
}/* end-of td.detail table */

table.detail tr:first-child td {
  border-top: 0px;
}/* end-of td.detail table tr:first-child td */

table.detail td {
  height: 35px;
  border-top: 2px dotted #999999;
}/* end-of td.detail table tr td */

td.item_title {
  width: 130px;
  text-align: center;
}/* end-of td.item_title */

td.item_data {
  width: 300px;
  text-align: left;
}/* end-of td.item_data */

div.page_link {
  margin-top: 10px;
  text-align: center;
}/* end-of div.page_link */

div.page_link a {
  padding: 3px;
  border: 1px solid #FFCCFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}/* end-of div.page_link a */

div.page_link a:hover {
  border: 1px solid #FF99CC;
  background-color: #FFCCFF;
}/* end-of div.page_link a:hover */

-->
</style>

<script type="text/javascript">
<!--
function abc() {
  alert("");
}
//-->
</script>

<div class="main">
  <!-- タイトル -->
  <div class="page_title">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr valign="bottom">
        <td></td>
        <td>所属 一覧</td>
      </tr>
    </table>
  </div><!-- end-of .page_title -->

  <!-- 所属リスト -->
    <!-- 所属 -->
    <% i = 0 -%>
    <% for group in @groups -%>
    <div class="entrant_list" id="entrant_list">
      <div class="group">
        <table border="0" cellpadding="0" cellspacing="0" class="detail">
          <tr>
            <td class="item_title">グループ</td>
            <td class="item_data"><%=h group.group_name %></td>
            <td></td>
          </tr>

          <% unless @entranlist.nil? %>
            <% ents = @entranlist[i] -%>
            <% unless ents.nil? %>
              <% for entrant in ents -%>
              <tr>
                <td class="item_title">ユーザ</td>
                <td class="item_data"><%=h entrant.user.display_name %></td>
                <td  class="">
                  <%=
                  if @user.upd_user_id == entrant.user.upd_user_id then
                    link_to '削除', entrant, :confirm => '所属を削除します。よろしいですか?', :method => :delete
                  end
                  %>
                </td>
              </tr>
              <% end -%>
            <% end -%>
        <% end -%>
        </table>
      </div><!-- end-of .party -->
    </div>
    <br/>
    <% i = i + 1 -%>
    <% end -%>

</div>
